<div class="big_img">
    <img *ngIf="loading" class="loading" src="/assets/loading.png" alt="loading" />
    <img *ngIf="isLoaded" [hidden]="loading" (load)="onLoad()" [src]="current.imageUrl" alt="/assets/loading.png" title="{{current.imageTitle}}">
    <p [hidden]="loading">{{current.imageDesc}}</p>
</div>
<div class="btn">
    <ul>
        <li (click)="prev()">prev</li>
        <li (click)="next()">next</li>
    </ul>
</div>
<div class="small_img">
    <ul *ngIf="isLoaded">
        <li (click)="setNav(i)" [class]="isActive(i)" *ngFor="let image of images; let i = index">
            <img [src]="image.imageUrl" title="{{image.imageTitle}}">
        </li>
    </ul>
    <img *ngIf="!isLoaded" class="loading" src="/assets/loading.png" alt="loading" />
</div>